@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-zinc-900;
}

body {
    @apply text-zinc-50;
    @apply text-base;

    min-height: 100vh;
}
